extends ../template.jade

block content
  section.amp-section.amp-news
    .container
      .row
        .col-xs-12
          h1 News
      .row          
        .col-xs-12.col-sm-8
          p Donec maximus sapien purus, luctus lobortis dui volutpat id. Phasellus id velit id diam viverra volutpat. Ut turpis neque, finibus vel enim a, posuere rutrum dolor.
        .col-xs-12.col-sm-4
          p
            i.placeholder Search box placeholder
      .row
        .col-xs-12
          p
            i.placeholder Tag buttons placeholder
      .row.hero-post
        .col-sm-12.col-md-8
          img.img-responsive.post-image.post-image(src="#{asset_path}/home/assets/news/man-doing-pushups.jpg",width="749", height="300")
        .col-sm-12.col-md-4
          .post-date 17 Sept 2015
          h2.post-headline Hero Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
      
      .row.blog-posts.blog-feed
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/hanging-from-a-mountain-peak.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/woman-preparing-to-race.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/man-in-swimming-race.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/close-up-of-chocolate-and-cocoa.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/woman-running-into-the-sunrise.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/news-icon.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/hanging-from-a-mountain-peak.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/woman-preparing-to-race.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
        .col-xs-12.col-sm-6.col-lg-4
          img.img-responsive.post-image(src="#{asset_path}/home/assets/news/man-in-swimming-race.jpg",width="361", height="172")
          .post-date 15 Sept 2015
          h2.post-headline Headline goes here
          p.post-excerpt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales sodales ex, eget facilisis risus cursus sed.
      .row
        .col-xs-6
          button.btn.btn-gold Older
        .col-xs-6
          button.btn.btn-gold.pull-right Newer

  // LIVE RELOAD
  // REMOVE ON LAUNCH
  script(src="http://localhost:35729/livereload.js")
